.calculate-VAN-form{
    gap:40px;
    margin-top: 40px;
}

.calculate-VAN-form label{
    min-width: 40px;
}

.calculate-Q-advice{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:10px;
    margin-bottom: -20px;
    margin-right: 35px;
    gap:10px;
}

.calculate-Q-advice span{
    font-size:15px;
    font-family: Outfit-Regular;
}


