.calculate-Q-button{
    border:0;
    background-color: transparent;
    font-family: Outfit-Regular;
    border: 1px solid green;
    border-radius:5px;
}

.calculate-Q-button:hover{
    color:white;
    background:green;
}

.calculate-Q-header{
    margin:0;
    color:#2DD244;
    font-size: 25px;
    font-family: Outfit-Regular;
    font-weight: 500;
}

.calculate-Q-form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.show-Q-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

