.calculate-Q-form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.show-Q-result{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calculate-IA-advice{
    display: flex;
    align-items: center;
    margin-top:10px;
    gap:10px;
}

.calculate-IA-advice span{
    font-size:15px;
    font-family: Outfit-Regular;
}


