.biodigestor-design-page{
    width: 100%;
    height: 100%;
    background-color:white;
    padding: 10px;
    overflow: auto;
}

.biodigestor-design-title{
    width: 100%;
    text-align: center;
    font-size:30px;   
    color: #02C502;
    font-family: Outfit-Regular;
    font-weight: 400;
}

.design-section-separator{
    width: 100%;
    height:30px
}

@media (max-width:500px) {
    .biodigestor-design-title{
        font-size: 25px;
        margin-top:50px
    }
}
