.indicators-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.indicators-page-main{
   width: 70%;
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.80);
   backdrop-filter: blur(5px);
}

.indicators-page-aside-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.show-Z-value-container{
    height: 40%;
    width: 100%;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    position: relative;
}

.show-Z-graphic-container{
    height: 60%;
    width: 100%;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.indicators-page-main .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    padding: 10px;
}

.indicators-page-main .header h4{
    margin:0;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: Outfit-Regular;
    font-size: 30px;
    font-weight: 500;
}

.indicators-page-main .advise{
    margin-left: 37px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Outfit-Regular;
    font-size: 20px;
    font-weight: 400;
}

.indicators-grid-container{
    width: 100%;
    height: auto;
    max-height: 86vh;
    overflow-y: auto;
}

@media (max-width:1300px){
    .indicators-page{
        padding: 10px;
    }
    .indicators-page .header{
        width: 90%;
        position: sticky;
        top:4px;
        left: 50px;
        z-index: 1;
        
    }
    .indicators-page .header .go-back-button{
        display:none;
    }
}

@media (max-width: 950px) {
    .indicators-page{
        padding: 0;
    }
    .indicators-page-aside-section{
        width: 95%;
        height: 300px;
        margin: 0 auto;
        flex-direction: row;
    }
    .show-Z-value-container{
        height: 100%;
    }
    .show-Z-graphic-container{
        height: 100%;
    }
    .indicators-page-main{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .indicators-page .header h4{    
        font-size: 24px;
    }
    .indicators-page .header{
        top:9px;
    }
    .indicators-page-main .advise{
        font-size:18px;
    }
    .indicators-page-aside-section{
        width: 93%;
        height: 400px;
        margin: 0 auto;
        flex-direction: column;
    }
    .show-Z-value-container{
        height: 50%;
    }
    .show-Z-graphic-container{
        height: 50%;
    }
}