.indicators-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.indicators-page-main{
   width: 70%;
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.80);
   backdrop-filter: blur(5px);
}

.indicators-page-graphics-section{
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(5px);
    width: 30%;
    border-radius: 15px;
}

.indicators-page-main .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    padding: 10px;
}

.indicators-page-main .header h4{
    margin:0;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: Outfit-Regular;
    font-size: 30px;
    font-weight: 500;
}

.indicators-page-main .advise{
    margin-left: 37px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Outfit-Regular;
    font-size: 20px;
    font-weight: 400;
}

.indicators-grid-container{
    width: 100%;
}

@media (max-width:1300px){
    .indicators-page .header{
        width: 90%;
        position: sticky;
        top:12px;
        left: 50px;
        z-index: 1;
        
    }

    .indicators-page .header .go-back-button{
        display:none;
    }
}

@media (max-width: 800px) {
    .indicators-page-graphics-section{
        display: none;
    }
    .indicators-page-main{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .indicators-page .header h4{    
        font-size: 20px;
    }
    .indicators-page .header{
        top:22px;
    }
}