:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Outfit-Regular;
  src: url('./assets/fonts/Outfit/Outfit-Regular.woff2');
}
@font-face {
  font-family: Outfit-Bold;
  src: url('./assets/fonts/Outfit/Outfit-Bold.woff2');
}
@font-face {
  font-family: Outfit-Semi-Bold;
  src: url('./assets/fonts/Outfit/Outfit-SemiBold.woff2');
}

body {
  margin: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow: hidden!important;
}

button {  
  cursor: pointer;
}

