.user-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-bottom: 10px;
}

.user-form div{
    display: flex;
    flex-direction: column;
}

.user-form span{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-form label{
    font-family: Outfit-Regular;
}

.user-form strong{
    color:red;
}

.user-form span input{
    height: auto;
}

.user-form input{
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px);
    border: 0;
    border-radius: 5px;
    padding: 10px;

    color: rgba(0, 0, 0, 0.8);
    font-family: Outfit-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.user-form input:focus-visible{
    outline: 2px solid rgba(0, 0, 0, 0.10)!important;
}

.user-form input:-webkit-autofill{
    -webkit-box-shadow:0 0 0 50px rgba(0, 0, 0, 0.1) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: black;
} 

.user-form-buttons-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:10px
}

.user-form-buttons-container button:first-child{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: rgba(193, 191, 191, 0.50);
    border:0;

    color: #6D6D6D;
    font-family: Outfit-Regular;
    font-size: 18px;
    font-weight: 500;
}

.user-form-buttons-container button:last-child{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background: rgba(45, 210, 68, 0.6);
    border:0;

    color: #FFF;
    font-family: Outfit-Regular;
    font-size: 18px;
    font-weight: 500;
}